.front {
    background-color: white;
    text-align: center;
    border: solid black;
    border-width: 1 1px;
    height: 88%;
    width: 95%;
}

.card {
    background-color: rgba(128, 128, 128, 0.781);
    text-align: center;
    border-right: solid black;
    border-bottom: solid black;
    border-width: 1 1px;
    height: 650px;
    width: 100%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 5%;
}

.title {
    padding: 20%;
}